* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 1130px;
    margin: 0 auto;
    height: 60px;
    background-color: #87CEEB00;
    display: flex;
    justify-content: center;
}

header img {
    width: 110px;
    height: 60px;
}

span.line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: orange;
    margin: 2px;
}